*.class
WorldSimulation/sas_plan
WorldSimulation/output
WorldSimulation/output.sas
WorldSimulation/test.xml
*.output
*.aux
*.gls
report/Astro kid.glo
*.ist
report/Astro kid.log
report/Astro kid.out
*.glg
report/Astro kid.blg
*.xdy
*.bbl
report/Astro kid.synctex.gz
*.toc
report/Astro kid.pdf
WorldSimulation/pddl/domain-no-update.pddl~
*.log
thesis/Thesis.out
*.out
*.gz